{% extends 'basic.html' %}
{% load static %}
<link rel="stylesheet" href= "/static/css/main1.css">
{% block title %}
about
{% endblock title %}
{% block body %}
<center>
<div class="container mt-4 mb-4">

<div class="card" style="width: 18rem;">
  <img src="{% static 'images/woman.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
  </div>
</div>
</div
</center>

<div class="container">
<h1 style="text-align:center"><h3><font color="#480945">Hi!! I'm Syeda Javeriya Afreen..Developer of this Blog.
</font></h3> </h1>
<h5><p align="center"> I'm a Student of Brindavan College Of Engineering, Bangalore.
I'am a Software Engineer, Full Stack Developer and  a Web Designer.
This Blog is built to find people who share similar opinions and thoughts..<br>
This helps me to bring out Minded individuals together :)<br>
Let's Connect Ourselves and start sharing repositories of knowlegde in our brains about Programming World..
We'd love to help you start exceeding your goals..
Thanks for your Log In and I hope this page helped you :)<br>
For Support and Any Queries, Please feel free to Contact Us..</p></h5>
</div>


{% endblock body %}